@charset "utf-8";

@media only screen and (max-width: 1200px) {
	
}
@media only screen and (max-width: 1050px) {
	
}
@media only screen and (max-width: 767px) {
	.box.box-header .box-image {
		height: 250px;
	}
	.box.box-header .box-avatar {
		top: -160px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #FFF;
	}
}
@media only screen and (max-width: 650px) {
	
}

@media only screen and (max-width: 550px) {
	
}
@media only screen and (max-width: 400px) {
	
}